/**
 *
 *  Fonts
 *
 */
@font-face {
	font-family: AspergitBold;
	src: url(../fonts/grey/AspergitBold.otf);
}

@font-face {
	font-family: ClearSansRegular;
	src: url(../fonts/grey/ClearSansRegular.ttf);
}

@font-face {
	font-family: ClearSansBold;
	src: url(../fonts/grey/ClearSansBold.ttf);
}

@font-face {
	font-family: DominikThin;
	src: url(../fonts/grey/DominikThin.ttf);
}

@font-face {
	font-family: DosisBold;
	src: url(../fonts/grey/DosisBold.ttf);
}

@font-face {
	font-family: DosisMedium;
	src: url(../fonts/grey/DosisMedium.ttf);
}

@font-face {
	font-family: AspergitRegular;
	src: url(../fonts/grey/AspergitRegular.otf);
}

@font-face {
	font-family: Montserrat-Regular;
	src: url(http://fonts.gstatic.com/s/montserrat/v6/zhcz-_WihjSQC0oHJ9TCYPk_vArhqVIZ0nv9q090hN8.woff2);
}

@font-face {
	font-family: Mans;
	src: url(../fonts/mans/MardianDemo.ttf);
}

@font-face {
	font-family: Studio;
	src: url(../fonts/studio/VarianeScript.ttf);
}

@font-face {
	font-family: Um;
	src: url(../fonts/um/UnthriftFirPersonal.ttf);
}

/**
 *
 *  Miscellaneous
 *
 */
.center {
	text-align: center;
}

.text-grey {
	color: #e3e3e3;
}

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	background: url('bg-bat.png') no-repeat;
	background-position: top;
	background-size: auto;
}

main {
	flex: 1 0 auto;
}

/**
 *
 *  Styling
 *
 */

/* {{ > nav }} */
nav {
}

/* {{ > footer }} */
footer h5 a {
	color: #FFF;
}
footer h5 a:hover {
	color: #305D60;
}

/* {{ > home }} */
header {
	min-height: 986px;
	max-height: 987px;
	padding-top: 20%;
}

header .launch {
	padding-top: 18%;
}

header h1 {
	font-family: Montserrat-Regular;
	font-size: 100px;
}

header #lead {
	font-family: AspergitRegular;
	font-size: 40px;
	line-height: 1.1em;
	color: #263238;
}

header #info {
	font-family: DosisMedium;
	font-size: 33px;
}

.feature {
	position: relative;
	height: 30%;
	max-height: 200px;
	padding-top: 41px;
}

.feature a:hover {
	color: #305D60;
}

.features {
	margin-top: 5%;
	margin-bottom: 20%;
}

.feature, .features h3 {
	font-family: DosisMedium;
	font-size: 35px;
}

.feature, .features p {
	font-family: ClearSansRegular;
	font-size: 20px;
	text-align: justify;
}


/* {{ > editor }} */
.submit-btn {
	float: right;
	margin-left: 5px;
}