<head>
  <title>Web Edit</title>
  <meta charset="utf-8" />
</head>

<template name="main">
<main>
	{{> nav}}

	{{> yield}}
</main>
<footer class="page-footer light-blue accent-3">
	<div class="container">
		<div class="row">
			<div class="col l6 s12">
				<h5 class="white-text">Web Edit</h5>
				<p class="grey-text text-lighten-4">Simple text editor.</p>
			</div>
			<div class="col l4 offset-l2 s12">
				<h5 class="white-text"><a href="{{pathFor route='editor'}}">>_ launch editor</a></h5>
				<ul>
				<li>
					<a class="grey-text text-lighten-3" href="#!">Facebook</a>
				</li>
				<li>
					<a class="grey-text text-lighten-3" href="#!">Twitter</a>
				</li>
				<li>
					<a class="grey-text text-lighten-3" href="#!">Google+</a>
				</li>
				<li>
					<a class="grey-text text-lighten-3" href="#!">Youtube</a>
				</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer-copyright">
		<div class="container">
			© 2014 Copyright kaenan
			<a class="grey-text text-lighten-4 right" href="#!">Iosif Zota</a>
		</div>
	</div>
</footer>	
</template>