<template name="editor">
<div class="container">
  <div class="row">

    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input id="title" name="title" type="text" class="validate Title" />
          <label for="title">Title</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12 text-grey">
          <textarea name="edit" id="textarea1" rows="{{rows}}" class="materialize-textarea Text"></textarea>
          <label for="edit">Type here...</label>
        </div>
      </div>

      <div class="row">
        <div class="file-field input-field">
          <div class="btn">
            <span>File</span>
            <input type="file" name="file" class="fileLoader" />
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text" />
          </div>
        </div>
      </div>

      <div class="row">
        <button type="submit" id="save" class="btn submit-btn">Save</button>
        <button type="button" id="add" class="btn submit-btn">Add to collection</button>
      </div>     
    </form>
    
  </div>
</div>
</template>