<template name="home">

  <!-- Main content container -->
<div class="container">

  <div class="row">
  <!-- Header -->
  <header style="height: {{headerHeight}}">
  <div class="container text-grey">
    <div class="row">
      <div class="col s12 center">
          <h1>Web Edit</h1>
          <p id="lead">meteor.js <span class="red-text text-lighten-2">&hearts;</span></p>
          <p id="info">A simple text editor written in JS.</p>
      </div>
    </div>

    <div class="row launch center">
      <div class="col s12 m12 l12">
        <a href="{{ pathFor route='editor' }}">
          <button class="btn">Launch</button>
        </a>
      </div>
    </div>
  </div>
  </header><!-- End of header -->
  </div>

</div><!-- End of top-content -->

<div class="red lighten-2 feature">
  <div class="container">
  <div class="row"> 
    <div class="col s12 m12 l12">
      <a class="text-grey" href=""><h2>>_ features</h2></a>
    </div>
  </div>
  </div>
</div>

<div class="container">
  <div class="row features" style="min-height: {{headerHeight}}">
    <!-- Features -->
    {{#each features}}
      {{> feature}}
    {{/each}}
    <div class="col s12 m12 l12">
      <img src="img1.png" width="100%" alt="" />
    </div>
  <!-- End of mid-content -->
  </div>
</div>

</template>
