<template name="nav">
<nav>
<div class="nav-wrapper">
	<ul id="nav-mobile" class="left hide-on-med-and-down">
		<li id="h">
			<a href="{{pathFor route='home'}}">Home</a>
		</li>
		<li id="e">
			<a href="{{pathFor route='editor'}}">Editor</a>
		</li>
	</ul>
</div>
</nav>
</template>